@model dynamic

@{
    ViewBag.Title = "Edit Project";
}

<h2>Edit Project #@ViewBag.Project.ProjectId</h2>
@if (!string.IsNullOrEmpty(((string)ViewBag.Error)))
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.Hidden("PreviousPage", (String)ViewBag.PreviousPage)
        @Html.Hidden("ProjectId", (int)ViewBag.Project.ProjectId)

        <div class="form-group">
            @Html.Label("Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Name", (String)ViewBag.Project.Name)
                @Html.ValidationMessage("Name")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Start Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("StartDate", (DateTime)ViewBag.Project.StartDate)
                @Html.ValidationMessage("StartDate")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("End Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("EndDate", (DateTime)ViewBag.Project.EndDate)
                @Html.ValidationMessage("EndDate")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Is Closed", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("isClosed", (bool)@ViewBag.Project.isClosed)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Project Leader", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectLeader", (IEnumerable<SelectListItem>)ViewBag.Project.ProjectLeader)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Project Team", new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="teamMembers">
                @foreach (dynamic s in @ViewBag.Project.ProjectTeam)
                {

                    <p id="user_@s.Value">@s.Text</p>

                }
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#manageTeam">
                        Manage Team
                    </button>
                </div>
            </div>
        </div>
        @Html.ListBox("ProjectTeamHidden", (IEnumerable<SelectListItem>)ViewBag.Project.ProjectTeam, new { @class = "hidden" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="button" type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div>
    <a href=@ViewBag.PreviousPage>Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $("#btnAdd").click(function () {

            $('#Users :selected').each(function (i, selected) {
                if (0 == $('#ProjectTeam option[value=' + selected.value + ']').length) {
                    $('#ProjectTeam').append('<option value="' + selected.value + '">' + selected.text + '</option>');
                    $('#ProjectTeam option[value=0]').remove();
                    $('#ProjectTeamHidden').append('<option value="' + selected.value + '">' + selected.text + '</option>');
                    $('#teamMembers').append('<p id="user_' + selected.value + '">' + selected.text + '</p>');
                    $('#ProjectTeamHidden option[value=0]').remove();
                }
            });

        });

        $("#btnRemove").click(function () {

            $('#ProjectTeam :selected').each(function (i, selected) {
                $("#ProjectTeam option[value='" + selected.value + "']").remove();
                $("#ProjectTeamHidden option[value='" + selected.value + "']").remove();
                $('#user_' + selected.value).remove();
            });
            if ($('#ProjectTeam option').size() == 0) {
                $('#ProjectTeam').append('<option value="0"></option>');
                $('#ProjectTeamHidden').append('<option value="0"></option>');
            }

        });

        $("#editForm").submit(function () {
            $("#ProjectTeamHidden option").attr("selected", "selected");
        });

    </script>
}
